/*css*/
body{margin: 0; padding: 0;}
 
.active{color: red;}
.fade-enter-active, .fade-leave-active {
    transition-duration: 0.6s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}


/*header-----------------*/
#routerNav{}


/*footer-----------------*/
#footerArea{margin-top: 100px;}
#footerArea{color:white;height: 160px;background-color:#a8bdce; }
#socialIcon li img {width: 70px;margin-right: 5px;}
#socialIcon li{display: inline;}
#socialIcon li img:hover{opacity: 0.4;}

#footerInfo{padding-top: 20px;}
.copy{padding-top: 10px;}

/*home-----------------*/

#homeImg{position: relative; margin-bottom: 100px;left:140px;top:100px;}
#homeP{position:absolute;top: 600px;left:760px;}
#homeP{color:white; width: 700px; height: 160px;}
#mapTextB{top:100px; left:-13px; background-color: #a8bdce;}
.container{
    top:200px;
    font-size:18px;
}


/*blog-----------------*/
.card{margin-bottom: 30px;}
.sTitle{text-align:center;font-size:18px;color: #7d7d7d;}
.bTitle{text-align: center;}
#signupArea{margin-top: 100px;}


