body{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    .hidden{
        display: none;
    }
    *{
        margin: 0;
        border: 0;
        padding: 0;
        font-size: 13px;
        list-style-type: none;
    }
    #homeImg{
        display: flex;
       
        width: 500px;
        background-color: rgb(14, 116, 194);
        img{
            width: 340px;
            height: auto;
        }
    }
    #homeP{
        h2{
            color: rgb(240, 251, 254);
            font-size: 36px;
        }
        p{
            font-size: 20px;
            color: rgb(225, 237, 237);
            margin-left: 160px;
            border: 2px solid rgb(220, 170, 7);
            width: 100px;
            margin-top: 10px;
        }
    }
    #hometext{
        width: 500px;
        height: 200px;
        border: 2px solid rgb(250, 230, 113);
        margin-top: -80px;
        p{
            font-size: 16px;
            color: darkslategrey;
            margin-top: 10px;
            margin-left: 6px;
        }
    }
    #logopart{
        width: 500px;
        height: 100px;
        display: inline-block;
        border-bottom:3px solid skyblue ;
        img{
            width: 60px;
            display: inline-block;
            margin: 0 auto;
            margin-top: 20px;
            margin-left: 75px;

        }
        p{
            font-size: 20px;
            color: rgb(224, 172, 103);
            display: inline-block;
            margin-left: 30px;
            margin-top: 0px;
            font-family: 'Sriracha', cursive;
        }
    }

    #routerNav{
        width: 450px;
        height: 80px;
        margin-top: 30px;
        text-align: center;
        background-color: white;
            margin-left: 0px ;
            li{
            
                margin-left: 0px;
                a{
                    font-size: 16px;
                    color: rgb(50, 146, 205);
                    margin-left: 30px;
                    font-family: 'Varela Round', sans-serif;
                }
                button{
                    font-size: 16px;
                    color: rgb(50, 146, 205);
                    margin-left: 30px;
                }
        }
    }
    #videopart{
        width: 450px;
        text-align: center;
        margin: 0 px;
        video{
            width: 450px;
            height: auto;
        }
        h2{
            width: 450px;
            height: 50px;
            text-align: center;
            margin-top: 30px;
            color: rgb(44, 67, 160);
            font-family: 'Sriracha', cursive;
        
        }
        ul{
            width: 450px;
            text-align: center;
            margin:0 auto;
            li{
                font-size: 16px;
                color: rgb(0, 48, 130);
                margin-top: 20px;
                font-family: 'Varela Round', sans-serif;
            }
        }
        img{
            width: 470px;
            height: auto;
            text-align: center;
            margin:0 auto;
            margin-top: 20px;
        }
        p{
            font-size: 16px;
            color: rgb(0, 48, 130);
            margin-top: 20px;
            text-align: left;
            margin-left: 10px;
            font-family: 'Varela Round', sans-serif;

        }

    }
    #ontraio{
        display: inline;
        h3{
            color: rgb(27, 132, 189);
            margin-top: 36px;
            font-size: 22px;
            text-align: center;
            font-family: 'Sriracha', cursive;
        }
        img{
            width: 460px;
            height: auto;
            margin-top: 0px;
            border: 5px solid skyblue;
        }
        p{
            width: 430px;
            margin-top: 10px;
            text-align: center;
            margin-left: 17px;
            font-size: 14px;
            color: rgb(69, 69, 69);
            font-family: 'Saira', sans-serif;
        }
    }

}




@media screen and (min-width: 750px){
    body{
        width: 960px;
        text-align: center;
        margin: 0 auto;
        .hidden{
            display: none;
        }
        *{
            margin: 0;
            border: 0;
            padding: 0;
            font-size: 13px;
            list-style-type: none;
        }
        #homeImg{
            display: flex;
           
            width: 900px;
            background-color: #000000;
            img{
                width: 700px;
                height: auto;
            }
        }
        #homeP{
            h2{
                color: white;
                font-size: 36px;
                margin-left: 330px;
                margin-top: 120px;
            }
            p{
                font-size: 20px;
                color: rgb(225, 237, 237);
                margin-left: 520px;
                border: 2px solid rgb(220, 170, 7);
                width: 100px;
                margin-top: 30px;
            }
        }
        #hometext{
            width: 900px;
            height: 200px;
            border: 2px solid rgb(250, 230, 113);
            margin-top: -80px;
            p{
                font-size: 22px;
                color: darkslategrey;
                margin-top: 10px;
                margin-left: 6px;
            }
        }
        #logopart{
            width: 960px;
            height: 160px;
            display: inline-block;
            border-bottom:3px solid skyblue ;
            img{
                width: 100px;
                display: inline-block;
                margin: 0 auto;
                margin-top: 20px;
                margin-left: 75px;
    
            }
            p{
                font-size: 30px;
                color: rgb(117, 206, 242);
                display: inline-block;
                margin-left: 120px;
                margin-top: 0px;
                font-family: 'Sriracha', cursive;
            }
        }
    
        #routerNav{
            width: 880px;
            height: 80px;
            margin-top: 30px;
            text-align: center;
            background-color: white;
                margin-left: 0px ;
                li{
                
                    margin-left: 0px;
                    a{
                        font-size: 16px;
                        color: rgb(247, 184, 23);
                        margin-left: 30px;
                        font-family: 'Varela Round', sans-serif;
                    }
                    button{
                        font-size: 16px;
                        color: rgb(247, 184, 23);
                        margin-left: 30px;
                    }
            }
        }
        #videopart{
            width: 960px;
            text-align: center;
            margin: 0 px;
            video{
                width: 700px;
                height: auto;
            }
            h2{
                width: 960px;
                height: 50px;
                text-align: center;
                margin-top: 30px;
                color: rgb(43, 43, 43);
                font-family: 'Sriracha', cursive;
            
            }
            ul{
                width: 850px;
                text-align: center;
                margin:0 auto;
                li{
                    font-size: 20px;
                    color: rgb(15, 15, 16);
                    margin-top: 20px;
                    font-family: 'Varela Round', sans-serif;
                }
            }
            img{
                width: 800px;
                height: auto;
                text-align: center;
                margin:0 auto;
                margin-top: 20px;
            }
            p{
                width: 800px;
                font-size: 19px;
                color: rgb(0, 48, 130);
                margin-top: 20px;
                text-align: left;
                margin-left: 80px;
                font-family: 'Varela Round', sans-serif;
    
            }
    
        }
        #ontraio{
            display: flex;
            flex-direction: initial;
            width: 960;

            h3{
                color: rgb(27, 132, 189);
                margin-top: 30px;
                font-size: 30px;
                text-align: center;
                font-family: 'Sriracha', cursive;
                margin-left: 60px;
            }
            img{
                width: 360px;
                height: auto;
                margin-top: 0px;
                border: 5px solid skyblue;
                margin-left: 70px;
            }
            p{
                width: 360px;
                margin-top: 10px;
                text-align: center;
                margin-left: 70px;
                font-size: 14px;
                color: rgb(69, 69, 69);
                height: 280px;
            }
        }
    }
}